<div class="o-flex o-flex--centerH u-p3 c-alert c-alert--{{ type }}">
  <div>
    <span class="u-w500 u-lh-1">{{ content }}</span>
  </div>

  {{#if icon}}
    <a href="" class="u-bl c-alert__icon">
      <svg class="u-bl" viewBox="0 0 32 32">
        <path d="M4 8 L8 4 L16 12 L24 4 L28 8 L20 16 L28 24 L24 28 L16 20 L8 28 L4 24 L12 16 z"></path>
      </svg>
    </a>
  {{/if}}
</div>
