<div>
  <h2 class="h4 u-mb4 c-example__header">Alerts</h2>
  <div class="u-mb4">
    <h3 class="h6 u-w300 u-mb2">Error</h3>
    {{> alert content="Looks like we need to do this." icon="true" type="error" }}
  </div>
  <div class="u-mb4">
    <h3 class="h6 u-w300 u-mb2">Base</h3>
    {{> alert content="Looks like we need to do this." icon="true" type="base" }}
  </div>
  <div class="u-mb4">
    <h3 class="h6 u-w300 u-mb2">Notice</h3>
    {{> alert content="Looks like we need to do this." icon="true" type="notice" }}
  </div>
</div>
