<div class="c-banner u-px1 u-py5 u-center">
  <div class="u-py3">
    <img class="c-banner__image u-inbl u-mb3" src="{{ base }}/assets/images/mercury-logo-white.svg">
    <h3 class="u-system u-w300 u-mb3">Sign Up Today</h3>
    <a href="#0" class="c-btn c-btn--outline--white c-btn--md">Click Here</a>
  </div>
</div>
