<blockquote>
  <p>Read what gives you delight—at least most of the time—and do so without shame. And even if you are that rare sort of person who is delighted chiefly by what some people call Great Books, don’t make them your steady intellectual diet, any more than you would eat at the most elegant of restaurants every day. It would be too much. Great books are great in part because of what they ask of their readers: they are not readily encountered, easily assessed.</p>
  <div class="u-py2 u-right">
    <span class="u-w700">&mdash; <a href="http://www.amazon.com/Pleasures-Reading-Age-Distraction/dp/0199747490">Alan Jacobs, The Pleasures of Reading in an Age of Distraction</a></span>
  </div>
</blockquote>
