<div class="">
  <h2 class="h4 u-mb4 c-example__header">Book Object</h2>
  <div class="u-left u-mb3 u-px1@lg">
    <h3 class="c-example__sub h6 u-w500 u-mb4">From Search</h3>
    {{> book-list-item
        title="Hild: A Novel"
        author="Nicola Griffith"
        coverImg="http://d.gr-assets.com/books/1375931640l/17332243.jpg"
        publishDate="March 6, 2014"
        className="u-pb3 u-mb3"
    }}
    {{> book-list-item
        title="Show Your Work!"
        author="Austin Kleon"
        coverImg="http://res.cloudinary.com/revision-path/image/upload/v1455115028/austin-kleon-show-your-work_cnxi21.jpg"
        publishDate="March 6, 2014"
        className="u-pb3"
    }}
  </div>
  <div class="u-left u-mb3 u-px1@lg">
    <h3 class="c-example__sub h6 u-w500 u-mb4">Single Books in Group</h3>
    <div class="o-flex o-flex--wrap o-flex--centerH o-flex--centerSA">
      {{> book-single
          title="Show Your Work!"
          author="Austin Kleon"
          coverImg="http://res.cloudinary.com/revision-path/image/upload/v1455115028/austin-kleon-show-your-work_cnxi21.jpg"
          publishDate="March 6, 2014"
          className=""
      }}
      {{> book-single
          title="Marvel Comics: the Untold Story"
          author="Sean Howe"
          coverImg="http://laughingsquid.com/wp-content/uploads/marvuntold.jpg"
          publishDate="March 6, 2014"
          className=""
      }}
      {{> book-single
          title="Sprint"
          author="Jake Knapp"
          coverImg="http://d28hgpri8am2if.cloudfront.net/book_images/onix/cvr9781501121746/sprint-9781501121746_hr.jpg"
          publishDate="March 6, 2014"
          className=""
      }}
      {{> book-single
          title="Steal Like an Artist"
          author="Austin Kleon"
          coverImg="http://a3.mzstatic.com/us/r30/Publication/v4/bd/d9/72/bdd9721f-15bc-0d42-54da-af1593b975e0/cover225x225.jpeg"
          publishDate="March 6, 2014"
          className=""
      }}
      {{> book-single
          title="For Today I Am a Boy"
          author="Kim Fu"
          coverImg="http://images.smh.com.au/2014/02/21/5188199/Pd-Spect-N-20140221161812528079-300x0.jpg"
          publishDate="August 5, 2014"
          className=""
      }}
      {{> book-single
          title="Big Magic"
          author="Elizabeth Gilbert"
          coverImg="http://www.vogue.com/wp-content/uploads/2015/09/21/01-big-magic-book-review.jpg"
          publishDate="March 6, 2014"
          className=""
      }}
      {{> book-single
          title="Red Rising"
          author="Pierce Brown"
          coverImg="https://ronanwills.files.wordpress.com/2015/07/red-rising-pierce-brown.jpg"
          publishDate="August 5, 2014"
          className=""
      }}
      {{> book-single
          title="Makers"
          author="Cory Doctorow"
          coverImg="http://craphound.com/craphound/wp-content/cory/makers-US-cover-large.jpg"
          publishDate="March 6, 2014"
          className=""
      }}
      {{> book-single
          title="On Web Typography"
          author="Jason Santa Maria"
          coverImg="https://www.subtraction.com/wp-content/uploads/2014/09/2014-09-11-on-web-typography-cover.jpg"
          publishDate="August 5, 2014"
          className=""
      }}
      {{> book-single
          title="Tigerman"
          author="Nick Harkaway"
          coverImg="http://www.nickharkaway.com/wp-content/uploads/2014/05/Book-Front.jpg"
          publishDate="August 5, 2014"
          className=""
      }}
    </div>

  </div>
</div>
