<div class="c-shelf__item u-inbl">
  <div class="">
    <div class="c-shelf__cover u-mb2">
      <img src="{{ coverImg }}" alt="{{ title }}" class="c-shelf__cover__img u-bl" />
    </div>
    <div class="c-shelf__details">
      <h4 class="h6 c-shelf__title u-lh-1 u-w300">
        <a href="#">{{ title }}</a>
      </h4>
      <div class="">
        <span class="c-shelf__meta u-system">{{ author }}</span>
      </div>
    </div>
  </div>
</div>
