<section class="">
  <h2 class="h4 u-mb4 c-example__header">Buttons</h2>
  <div class="o-flex o-flex--wrap o-flex--space">
    <section class="c-example u-left u-mb3">
      <div>
        <h3 class="c-example__sub h6 u-w500 u-mb2">Primary</h3>
        <ul class="list--reset u-w400">
          <li class="u-inbl u-va-middle u-mr2 u-mb3">
            <a href="#0" class="c-btn c-btn--primary c-btn--sm">Add to Stack</a>
          </li>
          <li class="u-inbl u-va-middle u-mr2 u-mb3">
            <a href="#0" class="c-btn c-btn--primary c-btn--md">Add to Stack</a>
          </li>
          <li class="u-inbl u-va-middle u-mb3">
            <a href="#0" class="c-btn c-btn--primary c-btn--lg">Add to Stack</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="c-example u-left">
      <div>
        <h3 class="c-example__sub h6 u-w500 u-mb2">Outline</h3>
        <ul class="list--reset u-w400">
          <li class="u-inbl u-va-middle u-mr2 u-mb3">
            <a href="#0" class="c-btn c-btn--outline c-btn--sm">Add to Stack</a>
          </li>
          <li class="u-inbl u-va-middle u-mr2 u-mb3">
            <a href="#0" class="c-btn c-btn--outline c-btn--md">Add to Stack</a>
          </li>
          <li class="u-inbl u-va-middle u-mb3">
            <a href="#0" class="c-btn c-btn--outline c-btn--lg">Add to Stack</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</section>
