<h2 class="h4 u-mb4 c-example__header">Checkboxes</h2>

<div class="u-center o-flex o-flex--centerSA o-container--xs u-mx-auto">
  <label for="uncheckInput" class="c-checkbox__container u-bl">
    <input type="checkbox" id="uncheckInput" class="u-none c-checkbox" />
    <div class="c-checkbox__elem u-inbl u-mb2"></div>
    <br />
    <span class="u-caps o-label">Check Box: Unchecked</span>
  </label>
  <label for="checkInput" class="c-checkbox__container u-bl">
    <input checked type="checkbox" id="checkInput" class="u-none c-checkbox" />
    <div class="c-checkbox__elem u-inbl u-mb2"></div>
    <br />
    <span class="u-caps o-label">Check Box: Checked</span>
  </label>
</div>
