<div class="">
  <h2 class="h4 u-mb4 c-example__header">Color</h2>
  <div class="u-mb4">
    <h3 class="c-example__sub h6 u-w500 u-mb3">Primary</h3>
    <div class="c-clrbl__container o-flex o-flex--space o-flex--wrap">
      {{> color colorName="Orange 500" colorVar="orange500" hex="#FF9800"}}
      {{> color colorName="Orange 700" colorVar="orange700" hex="#F57C00"}}
      {{> color colorName="Orange 800" colorVar="orange800" hex="#EF6C00"}}
      {{> color colorName="Orange 900" colorVar="orange900" hex="#E65100"}}
      {{> color colorName="Amber A400" colorVar="amberA400" hex="#FFC400"}}
      {{> color colorName="Bluegreen 500" colorVar="bluegreen500" hex="#607D8B"}}
    </div>
    <div class="c-caption u-py2">
      <p class="u-system">From <a href="https://www.google.com/design/spec/style/color.html">Material Design</a></p>
    </div>
  </div>
  <div class="u-mb4">
    <h3 class="c-example__sub h6 u-w500 u-mb3">Secondary</h3>
    <div class="c-clrbl__container c-clrbl__container--half o-flex o-flex--space o-flex--wrap">
      {{> color colorName="Gray 100" colorVar="gray100" hex="#FAFAFA"}}
      {{> color colorName="Gray 200" colorVar="gray200" hex="#9197A3"}}
      {{> color colorName="Gray 300" colorVar="gray300" hex="#3C3C3C"}}
    </div>
  </div>
</div>
