<div class="c-clrbl c-clrbl--{{colorVar}} u-mb2 u-left">
  <div class="c-clrbl__details u-p2">
    <span class="small u-w700 u-lh-1 u-mb0">{{ colorName }}</span>
    <br />
    <span class="small u-system u-lh-1">{{ hex }}</span>
  </div>
</div>
