<div class="">
  <h2 class="h4 u-mb4 c-example__header">Color</h2>
  <div class="c-clrbl__container o-flex o-flex--wrap">
    {{> color colorName="Orange 500" colorVar="orange500" hex="#FF9800"}}
    {{> color colorName="Orange 700" colorVar="orange700" hex="#F57C00"}}
    {{> color colorName="Orange 800" colorVar="orange800" hex="#EF6C00"}}
    {{> color colorName="Orange 900" colorVar="orange900" hex="#E65100"}}
    {{> color colorName="Amber A400" colorVar="amberA400" hex="#FFC400"}}
    {{> color colorName="Bluegreen 500" colorVar="bluegreen500" hex="#607D8B"}}
  </div>
  <div class="c-caption u-center u-py2">
    <p class="u-system">From Material Design</p>
  </div>
</div>
