<h1 class="u-w500">Headline 1</h1>
<h2 class="u-w500">Headline 2</h2>
<h3 class="u-w500">Headline 3</h3>
<h4 class="u-w500">Headline 4</h4>
<h5 class="u-w500">Headline 5</h5>
<h6 class="u-w500">Headline 6</h6>
<a href="#" class="h6 u-bl u-py2">Link</a>
