<h2 class="h4 u-mb4 c-example__header">Inputs</h2>
<div class="u-pb4">
  <form action="">
    <div class="o-grid u-cf">
      <div class="o-grid__col--6/12@lg u-fl@lg u-pr1@lg">
        <h3 class="c-example__sub h6 u-w500 u-mb2">Floating Label Input</h3>
        <div class="u-relative u-mb3"> <!-- needs u-ov-hid -->
          <input type="text" id="textInput" name="textInput" class="c-field c-field--float u-relative o-input u-px2 u-py3 u-bl h6" required>
          <label class="c-field--float__label o-label u-caps u-w500 u-lh-1 u-inbl u-p2" for="textInput" id="labelTextInput">Text Field</label>
        </div>
      </div>
      <div class="o-grid__col--6/12@lg u-fl@lg u-pl1@lg">
        <h3 class="c-example__sub h6 u-w500 u-mb2">Normal Input</h3>
        <div class="">
          <input type="text" id="textInput" name="textInput" class="c-field o-input u-mb2 u-p2 u-bl h6">
          <label class="o-label u-bl u-lt-1 u-caps u-w500" for="textInput">Text Field</label>
        </div>
      </div>
    </div>
  </form>
</div>
