<div class="o-flex o-flex--wrap o-flex--space">
  <ul class="c-example--four list--reset u-mb3">
    <li class="u-mb2">List Item</li>
    <li class="u-mb2">List Item</li>
    <li class="u-mb2">List Item</li>
    <li class="u-mb2">List Item</li>
  </ul>

  <ul class="c-example--four u-mb3">
    <li class="u-mb2">List Item</li>
    <li class="u-mb2">List Item</li>
    <li class="u-mb2">List Item</li>
    <li class="u-mb2">List Item</li>
  </ul>

  <ol class="c-example--four u-mb3">
    <li class="u-mb2">List Item</li>
    <li class="u-mb2">List Item</li>
    <li class="u-mb2">List Item</li>
    <li class="u-mb2">List Item</li>
  </ol>

  <ul class="c-example--four c-list--dividers u-caps u-lt-3 list--reset">
    <li class="u-py2">List Item</li>
    <li class="u-py2">List Item</li>
    <li class="u-py2">List Item</li>
    <li class="u-py2">List Item</li>
  </ul>
</div>
