<h2 class="h4 u-mb4 c-example__header">Pagination</h2>

<nav class="c-pag h6 o-flex o-flex--space o-flex--centerH u-py3 u-px1">
  <a href="" class="c-pag__ctrl c-btn c-btn--sm c-btn--outline u-w700">
    <span class="u-mr2@md">&lt;</span>
    <span class="u-none u-in@md">&nbsp;Previous</span>
  </a>
  <ul class="list--reset o-flex o-flex--centerH o-flex--centerSA o-grid__col--8/12 u-system">
    <li><a class="u-px2 u-py1 u-w400 c-pag__link" href="">1</a></li>
    <li><a class="u-px2 u-py1 u-w400 c-pag__link" href="">2</a></li>
    <li><a class="u-px2 u-py1 u-w400 c-pag__link" href="">3</a></li>
    <li><a class="u-px2 u-py1 u-w400 c-pag__link active" href="">4</a></li>
    <li><a class="u-px2 u-py1 u-w400 c-pag__link" href="">5</a></li>
    <li><a class="u-px2 u-py1 u-w400 c-pag__link" href="">6</a></li>
    <li><a class="u-px2 u-py1 u-w400 c-pag__link" href="">7</a></li>
    <li><a class="u-px2 u-py1 u-w400 c-pag__link" href="">8</a></li>
  </ul>
  <a href="" class="c-pag__ctrl c-btn c-btn--sm c-btn--outline u-w700">
    <span class="u-none u-in@md">Next&nbsp;</span>
    <span class="u-ml2@md">&gt;</span>
  </a>
</nav>
