<h2 class="h4 u-mb4 c-example__header">Stack</h2>
<h3 class="c-example__sub h6 u-w500 u-mb4">Inline Stack</h3>
{{> stack-inline }}

<h3 class="c-example__sub h6 u-w500 u-mb4">Stack Groups</h3>
{{> stack-group }}
