<div class="o-flex o-flex--wrap o-flex--centerSA">
  {{> stack-group-single
      cover="http://www.vogue.com/wp-content/uploads/2015/09/21/01-big-magic-book-review.jpg"
      title="Currently Reading"
  }}
  {{> stack-group-single
      cover="http://www.vogue.com/wp-content/uploads/2015/09/21/01-big-magic-book-review.jpg"
      title="Favorites"
  }}
</div>
