<div class="c-shelf u-mb4 u-pb3">
  {{> book-stack
      title="Show Your Work!"
      author="Austin Kleon"
      coverImg="http://res.cloudinary.com/revision-path/image/upload/v1455115028/austin-kleon-show-your-work_cnxi21.jpg"
      publishDate="March 6, 2014"

  }}
  {{> book-stack
      title="Marvel Comics: the Untold Story"
      author="Sean Howe"
      coverImg="http://laughingsquid.com/wp-content/uploads/marvuntold.jpg"
      publishDate="March 6, 2014"

  }}
  {{> book-stack
      title="Sprint"
      author="Jake Knapp"
      coverImg="http://d28hgpri8am2if.cloudfront.net/book_images/onix/cvr9781501121746/sprint-9781501121746_hr.jpg"
      publishDate="March 6, 2014"

  }}
  {{> book-stack
      title="Steal Like an Artist"
      author="Austin Kleon"
      coverImg="http://a3.mzstatic.com/us/r30/Publication/v4/bd/d9/72/bdd9721f-15bc-0d42-54da-af1593b975e0/cover225x225.jpeg"
      publishDate="March 6, 2014"

  }}
  {{> book-stack
      title="For Today I Am a Boy"
      author="Kim Fu"
      coverImg="http://images.smh.com.au/2014/02/21/5188199/Pd-Spect-N-20140221161812528079-300x0.jpg"
      publishDate="August 5, 2014"

  }}
  {{> book-stack
      title="Big Magic"
      author="Elizabeth Gilbert"
      coverImg="http://www.vogue.com/wp-content/uploads/2015/09/21/01-big-magic-book-review.jpg"
      publishDate="March 6, 2014"

  }}
  {{> book-stack
      title="Red Rising"
      author="Pierce Brown"
      coverImg="https://ronanwills.files.wordpress.com/2015/07/red-rising-pierce-brown.jpg"
      publishDate="August 5, 2014"

  }}
  {{> book-stack
      title="Makers"
      author="Cory Doctorow"
      coverImg="http://craphound.com/craphound/wp-content/cory/makers-US-cover-large.jpg"
      publishDate="March 6, 2014"

  }}
  {{> book-stack
      title="On Web Typography"
      author="Jason Santa Maria"
      coverImg="https://www.subtraction.com/wp-content/uploads/2014/09/2014-09-11-on-web-typography-cover.jpg"
      publishDate="August 5, 2014"

  }}
  {{> book-stack
      title="Tigerman"
      author="Nick Harkaway"
      coverImg="http://www.nickharkaway.com/wp-content/uploads/2014/05/Book-Front.jpg"
      publishDate="August 5, 2014"

  }}
</div>
