<nav class="u-caps u-lt-2">
  <ol class="list--reset">
    <li class="u-inbl u-mr2">
      <a href="#buttons">Buttons</a>
    </li>
    <li class="u-inbl u-mr2">
      <a href="#tooltips">Tooltips</a>
    </li>
    <li class="u-inbl u-mr2">
      <a href="#modals">Modals</a>
    </li>
    <li class="u-inbl u-mr2">
      <a href="#bookobject">Book Object</a>
    </li>
    <li class="u-inbl u-mr2">
      <a href="#stacks">Stacks</a>
    </li>
    <li class="u-inbl u-mr2">
      <a href="#alerts">Alerts</a>
    </li>
    <li class="u-inbl u-mr2">
      <a href="#banners">Banner</a>
    </li>
    <li class="u-inbl u-mr2">
      <a href="#tables">Tables</a>
    </li>
    <li class="u-inbl">
      <a href="#pagination">Pagination</a>
    </li>
    <li class="u-inbl u-mr2">
      <a href="#inputs">Inputs</a>
    </li>
    <li class="u-inbl u-mr2">
      <a href="#checkboxes">Checkboxes</a>
    </li>
  </ol>
</nav>
