<nav class="c-nav" role="navigation">
  <ul class="list--reset">
    <li class="u-inbl">
      <a href="/" class="c-nav__link u-bl u-px3 u-py2 {{#if active-basics}}active{{/if}}">Basics</a>
    </li>
    <li class="u-inbl">
      <a href="/ui-components/" class="c-nav__link u-bl u-px3 u-py2 {{#if active-components}}active{{/if}}">UI Components</a>
    </li>
    <li class="u-inbl">
      <a href="/info/" class="c-nav__link u-bl u-px3 u-py2 {{#if active-info}}active{{/if}}">Info</a>
    </li>
  </ul>
</nav>
