<div class="">
  <h2 class="h4 u-mb4 c-example__header">Typography</h2>
  <div class="">
    <div class="u-mb4">
      <h3 class="c-example__sub h6 u-w500 u-mb3">Headlines</h3>
      {{> headlines }}
    </div>
    <div class="u-mb4 o-container--md">
      <h3 class="c-example__sub h6 u-w500 u-mb3">Body Text</h3>
      {{> body-text }}
    </div>
  </div>
  <div class="">
    <h3 class="c-example__sub h6 u-w500 u-mb3">Blockquote</h3>
    {{> blockquote }}
  </div>
  <div class="u-mb4 u-pl3@lg">
    <h3 class="c-example__sub h6 u-w500 u-mb4">Lists</h3>
    {{> lists }}
  </div>
</div>
