<div class="">
  <h2 class="h4 u-mb4 c-example__header">Typography</h2>
  <div class="u-left o-flex o-flex--wrap o-flex--centerSA">
    <div class="c-example u-mb4 u-px1">
      {{> headlines }}
    </div>
    <div class="c-example u-mb4 u-px1">
      {{> lists }}
    </div>
  </div>
</div>
