<blockquote>
<p>The design style guide provides a reference in which developers can describe the way the interface is intended to look, and helps designers to be consistent as the interface is updated so that, in turn, the interface continues to feel consistent.</p>
<div class="u-right">
  <span class="h6 u-caps u-lt-2 u-w700">&mdash; <a href="http://alistapart.com/article/writingainterfacestyleguide">Jina Bolton</a></span>
</div>

</blockquote>
<p>This is the styleguide, it&#39;s a living catalog of modular pieces of UI for Mercury. A styleguide, in general, is ideally a living document of the sum of the parts of a greater whole; in this case it&#39;s a detailed catalog of any component you might find in the app. This is my first pass at a styleguide for Mercury before I get into the more detailed views.</p>
<p>I had some pretty specific goals for this styleguide:</p>
<ul>
<li>Extend the identity I worked on</li>
<li>Understand the UI in the context of the browser</li>
<li>Set principles to maintain consistency</li>
</ul>
<p>This is just the first stop. There&#39;s more to come, as I need icons, I&#39;ll add icons to the <a href="http://charlespeters.net/mercury-styleguide/">Basics</a>. More UI components might be need and they could use some refinement for sure. If there&#39;s something I should add or fix, let me know on <a href="https://twitter.com/charlespeters">Twitter</a>.</p>
