<!DOCTYPE html>
<html class="u-anti">
  {{> sty-head title="Mercury Styleguide" }}
  <body>
    {{> sty-header }}
    {{> sty-nav active-basics="true"}}
    <main class="o-container--lg u-mx-auto u-px3">
      <h1 class="h3 u-py3 u-system u-w400">Basics</h1>
      <nav class="u-caps u-lt-2">
        <a href="#color" class="u-inbl u-mr3">Color</a>
        <a href="#typography" class="u-inbl u-mr3">Typography</a>
      </nav>
      <section class="u-mb4 u-pt4" id="color">
        {{> colors }}
      </section>
      <section class="u-mb4 u-pt4" id="typography">
        {{> typography }}
      </section>
    </main>
    {{> sty-footer }}
  </body>
</html>
