<!DOCTYPE html>
<html class="u-anti">
  {{> sty-head title="Info | Mercury Styleguide" }}
  <body class="">
    {{> sty-header }}
    {{> sty-nav active-info="true"}}
    <main class="o-container--lg u-mx-auto u-px3 u-pb5">
      <h1 class="h3 u-py5 u-system u-w400 u-center">About Styleguides</h1>
      <article class="c-post o-container--md u-mx-auto u-serif">
        {{> content/info.md }}
      </article>
    </main>
    {{> sty-footer }}
    <script type="text/javascript" src="/assets/scripts/bundle.js"></script>
    <script type="text/javascript"></script>
  </body>
</html>
