.c-book__list-item:not(:last-of-type) { border-bottom: 2px solid #E2E2E2; }

.c-book__listing { justify-content: space-between; }

.c-book__cover {
  position: relative;
  width: 100%;
  max-width: 10rem;

  /* min-height: 100%;
  height: 13rem; */
}

.c-book__cover--sm { max-width: 10.25rem; }
.c-book__cover--lg { max-width: 18rem; }


/* .c-book__cover > img {
  margin: auto 0;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
} */

.c-book__details__container {
  right: -1rem;
  bottom: -1.425rem;
}

.c-book__details {
  background: white;
  fill: var(--bluegreen500);
  box-shadow: 0 0 4px rgba(0, 0, 0, .07), 0 4px 8px rgba(0, 0, 0, .14);
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  z-index: 10;
  transition: all 250ms ease-in-out;
}

.c-book__details:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, .035), 0 4px 8px rgba(0, 0, 0, .07);
}

.c-book__details > svg {
  fill: inherit;
  max-width: 100%;
  top: 0;
  bottom: 0;
}
