.c-checkbox__elem {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: white;
  appearance: none;
  border: 2px solid color(var(--bluegreen500) a(50%));
  transition: background-color 125ms linear;
}

.c-checkbox:checked + .c-checkbox__elem {
  background-color: var(--orange900);
  background-image: url('../images/checkmark.svg');
  background-position: center .5rem;
  background-repeat: no-repeat;
  background-size: 1.625rem;
  border-color: var(--orange800);
}
