.c-clrbl__container { width: 100%; }

.c-clrbl {
  width: 7.425rem;
  height: 12rem;
  position: relative;
}

.c-clrbl__details {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, .125);
}

.c-clrbl--gray100 { background: var(--gray100); }
.c-clrbl--gray200 { background: var(--gray200); }
.c-clrbl--gray300 { background: var(--gray300); }

.c-clrbl--orange100 { background: var(--orange100); }
.c-clrbl--orange200 { background: var(--orange200); }
.c-clrbl--orange300 { background: var(--orange300); }
.c-clrbl--orange400 { background: var(--orange400); }
.c-clrbl--orange500 { background: var(--orange500); }
.c-clrbl--orange600 { background: var(--orange600); }
.c-clrbl--orange700 { background: var(--orange700); }
.c-clrbl--orange800 { background: var(--orange800); }
.c-clrbl--orange900 { background: var(--orange900); }

.c-clrbl--amberA400 { background: var(--amberA400); }
.c-clrbl--bluegreen500 { background: var(--bluegreen500); }

@media (--md) {
  .c-clrbl { width: 8.25rem; }
}

@media (--lg) {
  .c-clrbl__container--half { max-width: 26.65rem; }
}
