:root {
  --base-form-mxw: 100%;
  --base-form-radius: .25rem;
  --base-form-border: 1px solid color(var(--gray200) a(-50%));

  --float-focus-color: var(--bluegreen500);
  --float-label-height: 30px;
}

.c-field {
  background: white;
  transition: border 250ms ease-in-out;
}

.c-field::placeholder {
  font-style: italic;
  font-size: 1.125rem;
}

.c-field:focus {
  outline: 0;
  color: var(--text);
  border-color: var(--orange500);
}

form.go-bottom input,
form.go-bottom textarea {
  padding: 12px 12px 12px 12px;
}

.c-field--float__label {
  transition: background 200ms, color 200ms, top 200ms, bottom 200ms, right 200ms, left 200ms;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  z-index: 2;
  height: var(--float-label-height);
  border-top: 0;
}

.c-field--float {
  z-index: 1;
  top: 0;
}

.c-field--float:valid {
  background: white;
}

/*.c-field--float:valid + .c-field--float__label { z-index: 0; }*/


.c-field--float:focus {
  border-color: var(--float-focus-color);
  font-size: 92.5%;
  padding-bottom: var(--float-label-height);
}

.c-field--float:focus + .c-field--float__label {
  color: var(--float-focus-color);
  z-index: 2;
  font-size: 75%;
  top: 100%;
  margin-top: -var(--float-label-height);
  border-top: 1px solid;
}
