.c-pag {
  border-top: var(--base-form-border);
  font-size: 92.5%;
}

.c-pag__link {
  line-height: 1;
  color: var(--orange900);
  border-radius: .25rem;
  opacity: .75;
}

.c-pag__link.active {
  opacity: 1;
  font-weight: 700;
  color: var(--bluegreen500);
}
