blockquote {
  padding: 0 .5rem;
  font-size: 112.5%;
  margin-bottom: 2rem;
  font-style: italic;
  color: color(var(--gray200) lightness(+1.25%));
}

blockquote::after {
  content: "";
  width: 6rem;
  height: .25rem;
  display: block;
  margin: 2rem 0 0 auto;
  background: var(--orange900);
}


@media (--lg) {
  blockquote {
    width: 112.5%;
    font-size: 125%;
    margin-left: -6.25%;
  }
}
